<a href="https://colab.research.google.com/github/Lucid-Lifo/Data-Analysis-Using-Python/blob/main/Python_Lab_List_Prog.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
    a = 10
    b = 20
    print(f"Before swapping: a = {a}, b = {b}")

    # Using temporary variable
    temp = a
    a = b
    b = temp

    print(f"After swapping: a = {a}, b = {b}")

Before swapping: a = 10, b = 20
After swapping: a = 20, b = 10

In [ ]:
    text = input("Enter a string: ")
    vowels = "aeiouAEIOU"
    count = 0

    for char in text:
        if char in vowels:
            count += 1

    print(f"Number of vowels: {count}")

Enter a string: hello world
Number of vowels: 3

In [ ]:
text = input("Enter a string: ")
reversed_text = text[::-1]

print(f"Reversed string: {reversed_text}")

Enter a string: hello world
Reversed string: dlrow olleh

In [ ]:
str1 = "Hello"
str2 = "World"
result = str1 + " " + str2
print(f"Concatenated string: {result}")

Concatenated string: Hello World

In [ ]:
main_string = input("Enter main string: ")
substring = input("Enter substring to search: ")
if substring in main_string:
  print(f"'{substring}' exists in '{main_string}'")
else:
  print(f"'{substring}' does not exist in '{main_string}'")

Enter main string: helloworld
Enter substring to search: low
'low' exists in 'helloworld'

In [ ]:
numbers = [5, 3, 8, 1, 9, 2, 7]
maximum = numbers[0]
minimum = numbers[0]

for num in numbers:
  if num > maximum:
     maximum = num
  if num < minimum:
     minimum = num

print(f"List: {numbers}")
print(f"Maximum: {maximum}, Minimum: {minimum}")

List: [5, 3, 8, 1, 9, 2, 7]
Maximum: 9, Minimum: 1

In [ ]:
    original_list = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
    unique_list = []

    for item in original_list:
        if item not in unique_list:
            unique_list.append(item)

    print(f"Original list: {original_list}")
    print(f"List without duplicates: {unique_list}")

Original list: [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
List without duplicates: [1, 2, 3, 4, 5, 6, 7]

In [ ]:
    numbers = (10, 20, 30, 40, 50)
    total_sum = sum(numbers)
    average = total_sum / len(numbers)

    print(f"Tuple: {numbers}")
    print(f"Sum: {total_sum}")
    print(f"Average: {average}")

Tuple: (10, 20, 30, 40, 50)
Sum: 150
Average: 30.0

In [ ]:
    numbers = [5, 3, 8, 1, 9, 2, 7]
    numbers_sorted = sorted((numbers),reverse=True)

    if len(numbers_sorted) >= 2:
        second_largest = numbers_sorted[1]
        print(f"List: {numbers}")
        print(f"Second largest: {second_largest}")
    else:
        print("List doesn't have enough unique elements")

List: [5, 3, 8, 1, 9, 2, 7]
Second largest: 8

In [ ]:
def count_occurrences(lst, element):
    count = 0
    for item in lst:
        if item == element:
            count += 1
    return count

numbers = [1, 2, 3, 4, 2, 2, 5, 1]
print(numbers)
print(f"the number 2 appear",count_occurrences(numbers, 2),"times")
print(f"the number 1 appear",count_occurrences(numbers, 1),"times")
print(f"the number 6 appear",count_occurrences(numbers, 6),"times")

[1, 2, 3, 4, 2, 2, 5, 1]
the number 2 appear 3 times
the number 1 appear 2 times
the number 6 appear 0 times

In [ ]:
    set1 = {1, 2, 3, 4, 5}
    set2 = {4, 5, 6, 7, 8}

    union = set1 | set2
    intersection = set1 & set2

    print(f"Set 1: {set1}")
    print(f"Set 2: {set2}")
    print(f"Union: {union}")
    print(f"Intersection: {intersection}")

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}

In [ ]:
    student_grades = {
        "Alice": 85,
        "Bob": 90,
        "Charlie": 78,
        "Diana": 92,
        "Eve": 88
    }
    print("Keys:", list(student_grades.keys()))
    print("Values:", list(student_grades.values()))

Keys: ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve']
Values: [85, 90, 78, 92, 88]

In [ ]:
    text = input("Enter a string: ")
    freq_dict = {}
    for char in text:
        if char in freq_dict:
            freq_dict[char] += 1
        else:
            freq_dict[char] = 1

    print("Character frequencies:")
    for char, freq in freq_dict.items():
        print(f"'{char}': {freq}")

Enter a string: hello world
Character frequencies:
'h': 1
'e': 1
'l': 3
'o': 2
' ': 1
'w': 1
'r': 1
'd': 1

In [ ]:
for n in range(2,51):
  flag=False
  for i in range(2,int(n**0.5)+1):
    if(n%i==0):
      flag=True
      break
  if flag==False:
    print(n)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [ ]:
    num = int(input("Enter a number: "))
    print(f"Multiplication table of {num}:")

    for i in range(1, 11):
        result = num * i
        print(f"{num} × {i} = {result}")

Enter a number: 8
Multiplication table of 8:
8 × 1 = 8
8 × 2 = 16
8 × 3 = 24
8 × 4 = 32
8 × 5 = 40
8 × 6 = 48
8 × 7 = 56
8 × 8 = 64
8 × 9 = 72
8 × 10 = 80